<h1>Welcome to Friends App</h1>
<p>Kara biba sarirasya netrayou riba pakshmani abicharyam priyam kuryat tan mitram mitramuchyate</p>
Meaning:<p>
	If any thing or danger comes on the body the hands automatically go to protect like that any thing tries to fall enter the eyes the eyelid protects it so moto automatically. Like that without thinking any body does good to you is your true friend.</p>

<p>Bandhane byasane chaiba durbhikhye rastra biplabe rajadware smasane cha ja tisthati sa bandhava.</p>
Meaning:<p>
	While you are arrested imprisoned, while you are celebrating good things, during drought, during rights communal or any such, while you are in kings court, and in the burial place who stays with you to support is your true friend.</p>